@model AdondeVamos.Model.Promociones
@using AdondeVamos.Model
@{
    Html.RenderPartial("_EstiloIndex");
}

@using (Html.BeginForm("AltaPromo", "Promociones", "Post"))
{
    @Html.AntiForgeryToken()

    <div>
        <div class="limiter">
            <div class="container-login100" style=" background: linear-gradient(180deg, #FFAB00, #C2185B), url('../img/intro-bg.jpg') center top no-repeat;">
                <div class="wrap-login100 p-l-60 p-r-60 p-t-62 p-b-33">
                    <form class="login100-form validate-form flex-sb flex-w">

                        <div id="login-row" class="row justify-content-center align-items-center">
                            <div id="login-column" class="col-md-12">
                                <div id="login-box" class="col-md-12">
                                    <div class="form" role="form">
                                        <div>
                                            <h3>Datos de la Promoción</h3>
                                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Lugare.Nombre, htmlAttributes: new { @class = "text-info" })
                                                @Html.EditorFor(model => model.Lugare, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre del Lugar", autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.Lugare.Nombre, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "text-info" })
                                                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Descripción de la nueva Promo", autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                            </div>
                                            <button class="btn btn-success nextBtn btn-lg pull-center" type="button">Siguiente</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

                }
