<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/build.min.js")
    @Scripts.Render("~/Scripts/fastselect.standalone.js")
    @Scripts.Render("~/bundles/bootstrap")

    <!--Admin js-->
    @Scripts.Render("~/Scripts/bower_components/jquery/dist/jquery.min.js")
    @Scripts.Render("~/Scripts/bower_components/bootstrap/dist/js/bootstrap.min.js")
    @Scripts.Render("~/Content/dist/js/adminlte.min.js")
    <!--Admin estilos-->
    <link href="@Url.Content("~/Content/build.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Scripts/bower_components/select2/dist/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/bower_components/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/bower_components/Ionicons/css/ionicons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/dist/css/AdminLTE.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/dist/css/skins/skin-blue.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/estilos.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/fastselect.min.css")" rel="stylesheet" type="text/css" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    @RenderBody()
    <footer>
        <p align="center">&copy; @DateTime.Now.Year - Empanadas de la Abuela</p>
    </footer>
    <script>
        $('.multipleSelect').fastselect();
    </script>
    <script>
        $('#modalCierre').on('show.bs.modal', function (e) {
            var pedidoId = $(e.relatedTarget).data('pedido-id');
            $(e.currentTarget).find('input[name="pedidoId"]').val(pedidoId);
        });
    </script>
    <script>
        $('#modalEliminar').on('show.bs.modal', function (e) {
            var nombreNegocio = $(e.relatedTarget).data('pedido-nombre');
            $(e.currentTarget).find('p[name="nombreNegocio"]').val(nombreNegocio);
            var pedidoId = $(e.relatedTarget).data('pedido-id');
            $(e.currentTarget).find('input[name="pedidoId"]').val(pedidoId);
            var nombreNegocio = $(e.relatedTarget).data('pedido-nombre');
            document.getElementById('nombreNegocio').innerHTML = nombreNegocio;
        });
    </script>
    <script>
        $(function () {
            $('#dataTable').DataTable()
        })
    </script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
        })
    </script>
    @Scripts.Render("~/bundles/funcionesPropias")
    @Scripts.Render("~/Scripts/bower_components/select2/dist/js/select2.full.min.js")
    @Scripts.Render("~/Scripts/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/bower_components/datatables.net/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/agency.js")
    @Scripts.Render("~/Scripts/agency.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>

