@using AdondeVamos.Model
@model AdondeVamos.Model.Usuarios

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>A donde vamos?</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet"  href="@Url.Content("~/Content/panel/plugins/font-awesome/css/font-awesome.min.css")">
    <!-- IonIcons -->
    <link rel="stylesheet"  href="@Url.Content("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet"  href="@Url.Content("~/Content/panel/dist/css/adminlte.min.css")">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"   href="@Url.Content("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700")">
    <link rel="stylesheet"  href="@Url.Content("https://fonts.googleapis.com/icon?family=Material+Icons")">
    <!--Estilos -->
    <link rel="stylesheet"  href="@Url.Content("~/Content/panel/dist/css/stylebuscador.css")">
    <!--Buscador-->
    <script src="@Url.Content("https://rawgit.com/dbrekalo/attire/master/dist/js/build.min.js")"></script>
    <link rel="stylesheet"  href="@Url.Content("~/Content/panel/dist/fastselect/fastselect.min.css")">
    <script src="@Url.Content("~/Content/panel/dist/fastselect/fastselect.standalone.js")"></script>
    <style>

        .fstElement {
            font-size: 1.2em;
        }

        .fstToggleBtn {
            min-width: 16.5em;
        }

        .submitBtn {
            display: none;
        }

        .fstMultipleMode {
            display: block;
        }

            .fstMultipleMode .fstControls {
                width: 100%;
            }

        .toggleBtn {
            display: none;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper" style="margin-top:-16px;">
        <nav class="main-header navbar navbar-expand bg-dark navbar-dark border-bottom">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-none d-sm-inline-block">
                    <button class="btn btn-info btn-xs"><a href="AltaComerciante">Ir a mi cuenta de comercio</a></button>
                </li>
                <li>
                    &nbsp;
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="miCuenta" class="nav-link">Mi cuenta </a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="http://adondevamos.ddns.net" class="nav-link">Salir</a>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Logo -->
            <a href="indexUsuario.html" class="brand-link">
                <img src="@Url.Content("~/Content/panel/dist/img/icon.png")" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">A donde vamos?</span>
            </a>
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@Url.Content("~/Content/panel/dist/img/avatar5.png")" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@Session["Usuario"]</a>
                    </div>
                </div>
                <!--Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="Mapa" class="nav-link active">
                                <i class="nav-icon fa fa-search"></i>
                                <p>
                                    Buscar lugar..
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="Promociones" class="nav-link">
                                <i class="nav-icon fa fa-search"></i>
                              
                                    Buscar promociones..
                               
                            </a>
                        </li>


                    </ul>
                </nav>
            </div>
        </aside>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Buscar lugares</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body" style="background-color:white;">
                                    <br />
                                    <div class="row">
                                        <div class="col col-md-6 col-sm-12">
                                            <h3>A donde vamos hoy?</h3>
                                        </div>
                                        <div class="col col-md-6 col-sm-12 ">
                                            <form action="">
                                                <div class="wrap-input100 validate-input" data-validate="Correo requerido">
                                                    <input class="input100" placeholder="Indique un lugar, dirección, etc" type="text"/>
                                                    <span class="focus-input100"></span>
                                                </div>
                                                <button class="submitBtn" type="submit">Buscar</button>

                                            </form>
                                        </div>
                                    </div>
                                    <hr class="attireSeparator mod2">
                                    <!-- AGREGAR BOTONES DE BUSQUEDA RAPIDA -->
                                    @*<div class="row">
                                        <div class="col-md-2 col-sm-6 col-12">
                                            <button type="button" class="btn btn-block btn-outline-primary">Farmacias</button>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-12">
                                            <button type="button" class="btn btn-block btn-outline-primary">Estaciones de servicio</button>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-12">
                                            <button type="button" class="btn btn-block btn-outline-primary">Supermercados</button>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-12">
                                            <button type="button" class="btn btn-block btn-outline-primary">Bar</button>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-12">
                                            <button type="button" class="btn btn-block btn-outline-primary">Hospitales</button>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-12">
                                            <button type="button" class="btn btn-block btn-outline-primary">Aire libre</button>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
                                        <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
                                        <script>
                                            (function () {
                                                var setting = {
                                                    "height": 350,
                                                    "zoom": 17,
                                                    "queryString": "Universidad Nacional de La Matanza, Florencio Varela, San Justo, Buenos Aires, Argentina",
                                                    "place_id": "ChIJg3DvwyzGvJUR5a1fQn8QZ4g",
                                                    "satellite": false,
                                                    "centerCoord": [-34.67036531098387, -58.562423749999994],
                                                    "cid": "0x8867107f425fade5",
                                                    "id": "map-9cd199b9cc5410cd3b1ad21cab2e54d3",
                                                    "embed_id": "43284"
                                                };
                                                var d = document;
                                                var s = d.createElement('script');
                                                s.src = 'https://1map.com/js/script-for-user.js?embed_id=43284';
                                                s.async = true;
                                                s.onload = function (e) {
                                                    window.OneMap.initMap(setting)
                                                };
                                                var to = d.getElementsByTagName('script')[0];
                                                to.parentNode.insertBefore(s, to);
                                            })();
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside class="control-sidebar control-sidebar-dark"></aside>
    </div>
    <!-- REQUIRED SCRIPTS -->
    <script  src="@Url.Content("~/Content/panel/plugins/jquery/jquery.min.js")"></script>
    <!-- Bootstrap -->
    <script  src="@Url.Content("~/Content/panel/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- AdminLTE -->
    <script  src="@Url.Content("~/Content/panel/dist/js/adminlte.js")"></script>
    <!-- OPTIONAL SCRIPTS -->
    <script  src="@Url.Content("~/Content/panel/plugins/chart.js/Chart.min.js")"></script>
    <script  src="@Url.Content("~/Content/panel/dist/js/demo.js")"></script>
    <script  src="@Url.Content("~/Content/panel/dist/js/pages/dashboard3.js")"></script>
</body>
</html>